
**/.gradle/
**/.idea/
**/.vscode/
**/build/
**/target/
**/out/
**/gradle/
**/HELP.md


**/gradlew
**/gradlew.bat


**/application.properties
**/application.yml
**/application-dev.properties
**/application-prod.properties
**/.env


**/node_modules/
**/.parcel-cache/
**/dist/
**/.cache/
**/.vscode/
**/.idea/
**/.DS_Store


**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test


**/pgdata/
**/postgres-data/
**/docker/postgres-data/
**/docker/postgres-backup/
**/docker/logs/


**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnp
**/.pnp.js


**/.DS_Store
**/Thumbs.db
**/*.swp
**/*.swo
**/*.swn